# Gradle / Android
.gradle/
build/
plugins/*/build/
local.properties
.kotlin/

# Plugin secrets
plugins/*/secret.ts

# Vendor / decompiled sources
Themelings/
midroid/
revenge-bundle-next/
revenge-xposed/

# JS
node_modules/
bun.lockb
package-lock.json
deno.lock

# Misc
.DS_Store
.idea/
*.iml
dist/
