:root {
	--ease-out: cubic-bezier(0.4, 0, 0.2, 1);
	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
	--md-primary: #6750a4;
	--md-on-primary: #ffffff;
	--md-primary-container: #eadcff;
	--md-on-primary-container: #21005d;
	--md-secondary: #625b71;
	--md-on-secondary: #ffffff;
	--md-secondary-container: #e8def8;
	--md-on-secondary-container: #1d192b;
	--md-tertiary: #7d5260;
	--md-tertiary-container: #ffd8e4;
	--md-on-tertiary-container: #31111d;
	--md-error: #b3261e;
	--md-on-error: #ffffff;
	--md-error-container: #f9dedc;
	--md-on-error-container: #410e0b;
	--md-surface: #fef7ff;
	--md-surface-container-lowest: #ffffff;
	--md-surface-container-low: #f7f2fa;
	--md-surface-container: #f3edf7;
	--md-surface-container-high: #ece6f0;
	--md-surface-container-highest: #e6e0e9;
	--md-on-surface: #1d1b20;
	--md-on-surface-variant: #49454f;
	--md-outline: #79747e;
	--md-outline-variant: #cac4d0;
	--md-inverse-surface: #322f35;
	--md-inverse-on-surface: #f5eff7;
	--md-shadow-1: 0 1px 2px rgb(0 0 0 / 0.3), 0 1px 3px 1px rgb(0 0 0 / 0.15);
	--md-shadow-2: 0 1px 2px rgb(0 0 0 / 0.3), 0 2px 6px 2px rgb(0 0 0 / 0.15);
	--md-shadow-3: 0 4px 8px 3px rgb(0 0 0 / 0.15), 0 1px 3px rgb(0 0 0 / 0.3);
}

@media (prefers-color-scheme: dark) {
	:root {
		--md-primary: #d0bcff;
		--md-on-primary: #381e72;
		--md-primary-container: #4f378b;
		--md-on-primary-container: #eadcff;
		--md-secondary: #ccc2dc;
		--md-on-secondary: #332d41;
		--md-secondary-container: #4a4458;
		--md-on-secondary-container: #e8def8;
		--md-tertiary: #efb8c8;
		--md-tertiary-container: #633b48;
		--md-on-tertiary-container: #ffd8e4;
		--md-error: #f2b8b5;
		--md-on-error: #601410;
		--md-error-container: #8c1d18;
		--md-on-error-container: #f9dedc;
		--md-surface: #141218;
		--md-surface-container-lowest: #0f0d13;
		--md-surface-container-low: #1c1b1f;
		--md-surface-container: #211f26;
		--md-surface-container-high: #2b2930;
		--md-surface-container-highest: #36343b;
		--md-on-surface: #e6e1e5;
		--md-on-surface-variant: #cac4d0;
		--md-outline: #938f99;
		--md-outline-variant: #49454f;
		--md-inverse-surface: #e6e1e5;
		--md-inverse-on-surface: #322f35;
		--md-shadow-1: 0 1px 2px rgb(0 0 0 / 0.5), 0 1px 3px 1px rgb(0 0 0 / 0.3);
		--md-shadow-2: 0 1px 2px rgb(0 0 0 / 0.5), 0 2px 6px 2px rgb(0 0 0 / 0.3);
		--md-shadow-3: 0 4px 8px 3px rgb(0 0 0 / 0.4), 0 1px 3px rgb(0 0 0 / 0.5);
	}
}
